body {
  background-color: #f3f5f6;
  font-family: sans-serif;
}

#board {
  display: flex;
  max-width: 500px;
  margin: 60px auto;
  padding: 0;

  flex-wrap: wrap;
  justify-content: center;
}
#board li {
  float: left;
  overflow: hidden;
  width: 60px;
  height: 100px;
  margin: 10px;
  list-style: none;
  transition-duration: 300ms;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}
#board li.selected {
  margin-top: 0;
  animation: float 1s linear infinite alternate;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}
#board li:after, #board li:before {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 60px;
  height: 100px;
  padding: 5px;
  font-size: 40px;

  align-items: flex-end;
  justify-content: center;
}
#board li:before {
  opacity: .4;
  color: #ccc;

  align-items: flex-start;
}
#board li.f-one:after {
  content: '1';
}
#board li.f-two:after {
  content: '2';
}
#board li.f-three:after {
  content: '3';
}
#board li.f-red:after {
  color: red;
}
#board li.f-green:after {
  color: green;
}
#board li.f-purple:after {
  color: blue;
}
#board li.f-diamonds:before {
  content: '♦︎';
}
#board li.f-rounded:before {
  content: '♥';
}
#board li.f-curly:before {
  content: '♣︎';
}
#board li.f-striped:before {
  color: red;
}
#board li.f-blank:before {
  color: green;
}
#board li.f-full:before {
  color: blue;
}

#points, #newCards {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  min-width: 50px;
  height: 50px;
  opacity: .5;
  color: #fff;
  border: 0;
  border-radius: 0 0 0 10px;
  background-color: blue;
  font-size: 28px;

  align-items: center;
  justify-content: center;
}

#newCards {
  left: 0;
  cursor: pointer;
  border-radius: 0 0 10px 0;
  outline: none;
  background-color: red;
  font-size: 18px;
}

#newCards:active {
  opacity: .3;
}

#help {
  position: fixed;
  top: calc(100% - 50px);
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition-duration: 300ms;
  background-color: rgba(255, 255, 255, .8);
  font-size: 15px;
}

#help span {
  display: inline;
}

#help h3 {
  margin: 0;
  margin-right: 100px;
  line-height: 30px;
}

#help:hover {
  top: 50%;
}

#help:hover span {
  display: none;
}

#help a {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

